<div class="panel panel-default library-item">
    <div>
    </div>
    <div class="panel-heading">

      {{#link-to 'posts.index' item.id }} <h3 class="panel-title">{{item.name}}</h3>{{/link-to}}

    </div>
    <div class="panel-body">
        <p>Автор блога: {{item.user.email}}</p>
        <p>Description: {{item.description}}</p>
        <p>Blog type: {{item.blogType.name}}</p>
        <p>Created Date: {{item.createdMoment}}</p>
        <p>Колличество постов: {{item.postsCount}}</p>
    </div>
    <div class="panel-footer text-right">
      {{#if item.checkUser}}
        {{yield}}
      {{/if}}
    </div>
</div>