<div class="form-horizontal">
    <div class="form-group has-feedback {{if blog.isValid 'has-success'}}">
        <label class="col-sm-2 control-label">Name*</label>
        <div class="col-sm-10">
          {{input type="text" value=blog.name class="form-control" placeholder="The name of the Blog"}}
          {{#if blog.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Blog Type</label>
        <div class="col-sm-10">
          {{#power-select
            selected=blogType
            placeholder="Please, select one destination"
            options=blogTypes
            onchange=(action "chooseBlogType")
          as |blogType|
          }}
            {{blogType.name}}
          {{/power-select}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          {{input type="text" value=blog.description class="form-control" placeholder="The Description of the Blog"}}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" {{action 'buttonClicked' blog}} disabled={{unless blog.isValid
                                                                                                            true}}>{{buttonLabel}}</button>
        </div>
    </div>
</div>