<h1>Таблица блогов</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Blog Type</th>
        <th>Posts</th>
        <th>User</th>
    </tr>
    </thead>

    <tbody>
    {{#each blogs as |blog|}}
        <tr>
            <th>{{#link-to 'blogs.show' blog}}{{blog.name}}{{/link-to}}</th>
            <th>{{blog.description}}</th>
            <th>{{blog.createdMoment}}</th>
            <th>{{blog.blogType.name}}</th>
            <th>{{blog.postsCount}}</th>
            <th>{{blog.user.email}}</th>
        </tr>
    {{/each}}
    </tbody>
</table>