<div class="jumbo show-listing">

    <div class="right detail-section">
        <div class="detail owner">
            <strong>First Name:</strong> {{model.firstName}}
        </div>
    </div>

    <div class="right detail-section">
        <div class="detail owner">
            <strong>Last Name:</strong> {{model.lastName}}
        </div>
    </div>

    <div class="right detail-section">
        <div class="detail owner">
            <strong>email:</strong> {{model.email}}
        </div>
    </div>

    <div class="right detail-section">
        <div class="detail owner">
            <strong>Role:</strong> {{model.role.name}}
        </div>
    </div>

    <div class="right detail-section">
        <div class="detail owner">
            <strong>Registration Date:</strong> {{model.registrationMoment}}
        </div>
    </div>

    <div class="right detail-section">
        <div class="detail owner">
            <strong>Last login</strong> {{model.lastLoginMoment}}
        </div>
    </div>
</div>
  {{#link-to 'users.edit' model class='btn btn-success btn-xs'}}Edit Profile{{/link-to}}
{{blog-table item=model}}