<h2>Blogs</h2>
{{#check-permissions permissionCode="canDeleteAllBlogs"}}
    <button class="btn btn-danger btn-xs" {{action 'multipleDelete' filteredBlogs}}>Delete Blogs</button>
{{/check-permissions}}
<br>

<div class="row">
  {{#each filteredBlogs as |blog|}}
      <div class="col-md-4">
          <div class="panel panel-default blog-item {{if blog.isChecked "isChecked"}}">
              <div class="panel-heading">
                {{#check-permissions permissionCode="canDeleteAllBlogs"}}
                  {{input type="checkbox" name="isEmberized" checked=blog.isChecked}}
                {{/check-permissions}}

                {{#link-to 'posts.index' blog.id }} <h3 class="panel-title">{{blog.name}}</h3>{{/link-to}}
              </div>
              <div class="panel-body">
                  <p>Автор блога: {{blog.user.email}}</p>
                  <p>Description: {{blog.description}}</p>
                  <p>Blog type: {{blog.blogType.name}}</p>
                  <p>Created Date: {{blog.createdMoment}}</p>
                  <p>Колличество постов: {{blog.postsCount}}</p>
              </div>
              <div class="panel-footer text-right">
                {{#check-permissions permissionCode="canEditAllBlogs"}}
                  {{#link-to 'blogs.edit' blog.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
                {{/check-permissions}}
                {{#check-permissions permissionCode="canDeleteAllBlogs"}}
                    <button class="btn btn-danger btn-xs" {{action 'deleteBlog' blog}}>Delete</button>
                {{/check-permissions}}
              </div>
          </div>
      </div>
  {{/each}}
</div>