<div class="blogs-buttons-menu">
  {{#link-to 'blogs.new' class="btn btn-primary btn-xs" }} Add new {{/link-to}}
  {{#check-permissions permissionCode="canDeleteAllBlogs"}}
    <button class="btn btn-danger btn-xs" {{action 'multipleDelete' filteredBlogs}}>Delete Blogs</button>
  {{/check-permissions}}
  <span class="{{if blogGridList.isList "glyphicon glyphicon-th-large" "glyphicon glyphicon-th-list"}}" {{action
    'setList'}} aria-hidden="true"></span>
</div>
<div class="row">
  {{#each filteredBlogs as |blog|}}
    <div class="{{if blogGridList.isList "list col-md-8" "col-md-4" }}">
      <div class="thumbnail {{if blog.isChecked "isChecked"}}">
        {{#link-to 'posts.index' blog.id }}
          <div class="blog-image">
            <img src={{blog.image}}>
          </div>
        {{/link-to}}
        <div class="caption">
          <div class="blog-title">
            {{#link-to 'posts.index' blog.id }}<h3>{{blog.name}}</h3>{{/link-to}}
          </div>
          <div class="blog-description">
            <p>{{blog.description}}</p>
            <p>Категория: {{blog.blogType.name}}</p>
          </div>
          <div class="panel-footer">
            <p>Автор: {{blog.user.email}}</p>
          </div>
          <div class="panel-footer">
            {{#if (has-permission 'canDeleteAllBlogs' 'canEditAllBLogs')}}
              {{#check-permissions permissionCode="canEditAllBlogs"}}
                {{#link-to 'blogs.edit' blog.id class='btn btn-primary'}}Edit{{/link-to}}
              {{/check-permissions}}
              {{#check-permissions permissionCode="canDeleteAllBlogs"}}
                {{#link-to 'blogs.edit' blog.id class="glyphicon glyphicon-edit"}}{{/link-to}}
                <span class="glyphicon glyphicon-remove" {{action 'deleteBlog' blog}}></span>

              {{/check-permissions}}
            {{else}}
              {{#if (user-is-blog-author blog.id)}}
                {{#link-to 'blogs.edit' blog.id class="glyphicon glyphicon-edit"}}{{/link-to}}
                <span class="glyphicon glyphicon-remove" {{action 'deleteBlog' blog}}></span>
              {{/if}}
            {{/if}}

            {{#check-permissions permissionCode="canDeleteAllBlogs"}}
              {{input class='blog-checkBox' type="checkbox" name="isEmberized" checked=blog.isChecked}}
            {{/check-permissions}}

          </div>
        </div>
      </div>
    </div>
    {{#if blogGridList.isList}}
      <div class="col-md-1">
        <div class='user-avatar'>
          <img src={{blog.user.avatar}} class="img-circle" alt="Circular Image">
        </div>
        {{blog.user.firstName}}
        {{blog.user.lastName}}
      </div>
    {{/if}}
  {{/each}}
</div>