<div class="blogs-buttons-menu">
  {{#link-to 'blogs.new' class="btn btn-primary btn-xs" }} Add new {{/link-to}}
  {{#check-permissions permissionCode="canDeleteAllBlogs"}}
    <button class="btn btn-danger btn-xs" {{action 'multipleDelete' filteredBlogs}}>Delete Blogs</button>
  {{/check-permissions}}
</div>
<div class="row">
  {{#each filteredBlogs as |blog|}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail {{if blog.isChecked "isChecked"}}">
        {{#link-to 'posts.index' blog.id }}
          <div class='blog-image'>
            <img src={{blog.image}}>
          </div>
        {{/link-to}}
        <div class="caption">
          {{#link-to 'posts.index' blog.id }}<h3>{{blog.name}}</h3>{{/link-to}}
          <div class="blog-description">
            <p>{{blog.description}}</p>
          </div>
          <div class="panel-footer">
            <p>Автор: {{blog.user.email}}</p>
          </div>
          <div class="panel-footer">
            {{#check-permissions permissionCode="canEditAllBlogs"}}
              {{#link-to 'blogs.edit' blog.id class='btn btn-primary'}}Edit{{/link-to}}
            {{/check-permissions}}
            {{#check-permissions permissionCode="canDeleteAllBlogs"}}
              <button class="btn btn-danger" {{action 'deleteBlog' blog}}>Delete</button>
            {{/check-permissions}}
            {{#check-permissions permissionCode="canDeleteAllBlogs"}}
              {{input class='blog-checkBox' type="checkbox" name="isEmberized" checked=blog.isChecked}}
            {{/check-permissions}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>