<div class="form-horizontal">
  <div class="form-group has-feedback {{if item.isValid 'has-success'}}">
    <div class="col-sm-12">
      {{input type="text" value=item.body class="form-control" placeholder="Leave comment"}}
      {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
    </div>
  </div>

  <div class="form-group">
    <div class="comment-item">
      <button type="submit" class="btn btn-default" {{action 'buttonClicked' item}} disabled={{unless item.isValid
                                                                                                      true}}>{{buttonLabel}}</button>
    </div>
  </div>
</div>