<div class="jumbo show-listing">

  <div class="right detail-section">
    <div class="detail owner">
      <strong>First Name:</strong> {{model.firstName}}
    </div>
  </div>

  <div class="right detail-section">
    <div class="detail owner">
      <strong>Last Name:</strong> {{model.lastName}}
    </div>
  </div>

  <div class='user-avatar'>
    <img src={{model.avatar}} class="img-circle" alt="Circular Image">
  </div>

  <div class="right detail-section">
    <div class="detail owner">
      <strong>email:</strong> {{model.email}}
    </div>
  </div>

  <div class="right detail-section">
    <div class="detail owner">
      <strong>Role:</strong> {{model.role.name}}
    </div>
  </div>

  <div class="right detail-section">
    <div class="detail owner">
      <strong>Permissions:</strong>{{#each loginService.permissions as |permission|}}
      {{permission.name}},
    {{/each}}
    </div>
  </div>

  <div class="right detail-section">
    <div class="detail owner">
      <strong>Registration Date:</strong> {{model.registrationMoment}}
    </div>
  </div>

  <div class="right detail-section">
    <div class="detail owner">
      <strong>Last login</strong> {{model.lastLoginMoment}}
    </div>
  </div>
</div>

{{#link-to 'users.edit' model class='btn btn-success btn-xs'}}Edit Profile{{/link-to}}
{{blogs/blog-table user=model}}