<div class="jumbo show-listing">
  <div class="blog-name">
    <h1>{{model.name}}</h1>
  </div>

  <div class="blog-description-show">
    {{model.description}}
  </div>
</div>
{{#if model.checkUser}}
  {{#link-to 'posts.new' model class='btn btn-primary btn-xs'}}Add new post {{/link-to}}
{{/if}}
<br>
<br>
<div class="row">
  {{#each model.posts as |post|}}
    <div class="col-md-12">
      <div class="panel panel-default post-item">
        <div class="panel-heading">
          {{#link-to 'comments.index' post.id }} <h3 class="panel-title post">{{post.title}}</h3>{{/link-to}}
        </div>
        <div class="panel-body post">
          <p>{{post.content}}</p>
        </div>
        <div class="panel-footer text-right">
          {{#if post.checkUser}}
            {{#link-to 'posts.edit' post.id class='btn btn-primary btn-xs'}}Edit{{/link-to}}
            <button class="btn btn-danger btn-xs" {{action 'deletePost' post}}>Delete</button>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

<ul class="thumbnails">
  <li class="span8">
    <div class="thumbnail">
      <div class="row-fluid">
        <div class="span6">
          <img alt="" src="http://placehold.it/260x180">
        </div>
        <div class="span6 caption">
          <h5>Thumbnail label</h5>
          <p>A bunch of text will do here so about this thumbnail heading. yep goes right here!</p>
          <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
        </div>
      </div>
    </div>
  </li>
  <li class="span8">
    <div class="thumbnail">
      <div class="row-fluid">
        <div class="span6">
          <img alt="" src="http://placehold.it/260x180">
        </div>
        <div class="span6 caption">
          <h5>Thumbnail label</h5>
          <p>A bunch of text will do here so about this thumbnail heading. yep goes right here!</p>
          <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
        </div>
      </div>
    </div>
  </li>
</ul>